@import "tailwindcss";

@font-face {
  font-family: Helonik;
  src: url('./fonts/helonik.otf');
}

@theme{
  --font-helonik: Helonik, "sans-serif";

  --drop-shadow-glow: [0px_0px_22px_8px_rgba(255,46,88,1)]
}
@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@utility scrollbar-hide::-webkit-scrollbar {
  display: none;
}
