@import "tailwindcss";

@font-face {
  font-family: Helonik;
  src: url('./fonts/helonik.otf');
}

@theme{
  --font-helonik: Helonik, "sans-serif";
   
}
@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@utility scrollbar-hide::-webkit-scrollbar {
  display: none;
}